
<% obj.each do |recipe| %>



  <div class="card">

    <div class="col-md-2">
      <section class="center thumbnail">
      <%=  gravatar_for(recipe.chef) %>
      </section>
    </div>
    <div class="card-body">
      <h4 class="card-title"><%=link_to recipe.name ,recipe_path(recipe) %></h4>
      <p class="card-text"><%= truncate(recipe.description, length: 150) %></p> <!--truncate is a methood used to display limited amounts of words in a view  -->
      <p>
        <span class="quiet"><small>Created  <%= time_ago_in_words(recipe.created_at) %> ago</small></span> <!--time_ago_in_words() transfers the time in days ::Preety cool huh  -->
    </p>
        <div class="recipe-actions">
        <!-- ADDING AUTHERIZATIONS -->
        <!--  current_user.admin gives a boolean  -->
      <% if logged_in? && ((recipe.chef.email == current_user.email) || current_user.admin?)  %>
         <%= link_to "Edit this recipe", edit_recipe_path(recipe), class: 'btn btn-xs btn-warning' %>
         <%= link_to "Delete this recipe",recipe_path(recipe), method: :delete , class: 'btn btn-xs btn-danger' %>

      <% end %>
      </div>


    </div>
  </div>



<% end %> 