<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4779cc">
   <%= link_to "My App", root_path, class: "navbar-brand" , id:"logo" %> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <%= link_to "Chefs" ,chefs_path, class:"nav-link"%> 
      </li>


      <% if logged_in? %>
              <li class="nav-item">
                <%=link_to "profile",chef_path(current_user) ,class:"nav-link" %>
              </li>

              <li class="nav-item">
                <%=link_to "Logout",logout_path , method: :delete ,class:"nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to "edit profile", edit_chef_path(current_user) ,class:"nav-link" %>             
              </li>


      <% else %>
       <li class="nav-item">
       <%= link_to "Login" ,login_path, class:"nav-link"%> 
      </li>


      <% end %>
    </ul>

  </div>
</nav>




